body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #1e1e1e; 
  color: #f5f5f5;            
}

header {
  background-color: #2c3e50;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header a {
  color: #f1c40f;
  text-decoration: none;
}

main {
  padding: 20px;
}

section h2 {
  color: #f1c40f; 
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background-color: #2c2c2c; 
}

th, td {
  border: 1px solid #444;
  padding: 8px;
  text-align: center;
  color: #f5f5f5;
}


#perfil .contenedor {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  background-color: #2c2c2c;
  padding: 15px;
  border-radius: 8px;
}

#perfil .foto img {
  width: 200px;
  border-radius: 10px;
  border: 2px solid #f1c40f; 
}

#perfil .proyectos ul {
  list-style-type: square;
  padding-left: 20px;
}

#perfil .proyectos li {
  margin-bottom: 8px;
  color: #f5f5f5;
}

footer {
  background-color: #2c3e50;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}
